$white-color:#fff;
$gray-color:#f4f4f4;
$red-color:#990000;

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.gray-bg {
  background-color: $gray-color;
}

.red-color {
  color: $red-color;
}

.loader{
  margin: 2rem auto;
  i{
    font-size: 3rem;
    color: $red-color;
  }
}

.todo-page {
  h2 {
    color: $white-color;
  }

  nz-content {
    padding: 0 50px;
  }

  .inner-content {
    background: $white-color;
    padding: 24px;
    min-height: 80vh;
    max-width: 768px;
    margin: 3vh auto 0;
  }

  .delete {
    text-decoration: line-through;
  }

}
